@import "../omarchy/current/theme/waybar.css";
@import "../omarchy/current/theme/walker.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0px;
  margin: 6px;
  min-width: 9px;
}

#workspaces > button label {
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  color: @text;
  border: 1px solid @border;
  border-radius: 10px;
  background: linear-gradient(to top, @foreground 0%, @background 30%, @background 70%, @foreground 100%);
}

#workspaces > button:nth-child(1) label {
  padding-left:4px;
  padding-right:12px;
}

#workspaces > button:nth-child(2) label {
  padding-left:7px;
  padding-right:10px;
}

#workspaces > button:nth-child(3) label {
  padding-left: 6px;
  padding-right: 9px;
}

#workspaces > button:nth-child(8) label {
  padding-left: 6px;
  padding-right: 10px;
}

#workspaces > button:nth-child(9) label {
  padding-left: 6px;
  padding-right: 10px;
}

#workspaces > button.active label {
  background: @foreground;
  color: @text;
}

#workspaces > button.empty label {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#hyprland-window,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 10px;
}

#tray {
  margin-right: 16px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
