@import "../omarchy/current/theme/waybar.css";
@import "../omarchy/current/theme/walker.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 13px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
  font-size: 14px;
}

#workspaces button {
  all: initial;
  padding: 0px;
  margin: 6px;
  min-width: 9px;
}

#workspaces > button label {
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  color: @text;
  border: 1px solid @border;
  border-radius: 10px;
  background: linear-gradient(to top, @foreground 0%, @background 30%, @background 70%, @foreground 100%);
}

#workspaces > button:nth-child(1) label {
  padding-left:4px;
  padding-right:12px;
}

#workspaces > button:nth-child(2) label {
  padding-left:7px;
  padding-right:10px;
}

#workspaces > button:nth-child(3) label {
  padding-left: 6px;
  padding-right: 9px;
}

#workspaces > button:nth-child(8) label {
  padding-left: 6px;
  padding-right: 10px;
}

#workspaces > button:nth-child(9) label {
  padding-left: 6px;
  padding-right: 10px;
}

#workspaces > button.active label {
  background: @foreground;
  color: @text;
}

#workspaces > button.empty label {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#memory,
#disk,
#temperature,
#network,
#bluetooth,
#pulseaudio,
#hyprland-window,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update,
#mpris {
  min-width: 12px;
  margin: 0 10px;
}

#custom-omarchy {
  font-size: 16px;
}

#tray {
  margin-right: 16px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
}

#bluetooth {
  border-left: 2px solid @foreground;
  padding-left: 16px;
  margin-left: 0px;
  font-size: 16px;
  padding-right: 0;
}

#network {
  margin-left: 8px;
  font-size: 16px;
}

#pulseaudio {
  font-size: 16px;
  margin-left: 16px;
}

#cpu {
  margin-left: 16px;
  font-size: 18px;
}

#memory {
  font-size: 16px;
  margin-left: 16px;
}

#disk {
  font-size: 16px;
  margin-left: 16px;
}

#temperature {
  font-size: 16px;
  margin-left: 16px;
}

#clock {
  font-size: 15px;
  margin-left: 8px;
  padding-left: 16px;
  border-left: 2px solid @foreground;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#mpris {
  font-size: 16px;
  margin-left: 16px;
  color: @foreground;
  background-color: @background;
}

#mpris.playing {
  color: @foreground;
}

#mpris.paused {
  opacity: 0.7;
}

#mpris.stopped {
  opacity: 0.5;
}

#mpris.disconnected {
  opacity: 0.4;
  color: @foreground;
}

#mpris.spotify {
  color:#35C76B;
}

#mpris.youtube {
  color:#FB0036;
}

#mpris.firefox {
  color:#FF0000;
}

#mpris.microsoft-edge {
  color:#F35804;
}